body{
  padding: 0px;
  margin: 0px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.nav {
    box-shadow: 0px 1px 1px lightgray;
    padding-top: 10px;
  }
  .top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px 12px;
  }
  
  .header_logo {
    height: 40px;
    width: 90px;
    fill: orange;
  }
  
  .search_container {
    width: 65%;
    border: 1px black solid;
    border-radius: 25px;
    height: 40px;
    display: flex;
    overflow: hidden;
  }
  
  .search_container > input {
    margin-left: 10px;
    flex-grow: 1;
    border: none;
    outline: none;
  }
  
  
  .category_container {
    padding: 7px 10px;
    border-radius: 15px;
    cursor: pointer;
    display: block;
    width: 110px;
  }
  
  .category_container > i {
    margin-right: 4px;
  }
  
  .category_container:hover {
    background-color: rgb(231, 230, 230);
    transition: all 0.2s;
  }
  
  .search_icon {
    background-color: orange;
    padding: 10px;
    border-radius: 20px;
    margin: 5px;
  }
  .sign_in {
    margin: 0px 10px;
    width: 60px;
    text-align: center;
    border-radius: 15px;
  }
  .sign_in:hover{
    background-color: rgb(231, 230, 230);
    transition: all 0.2s;
  }
  .icon {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
  }
  .icon:hover{
    background-color: skyblue;
    transition: all 0.2s;
  }
  .options_search {
    display: flex;
    display:none;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
  }
  h1{
    text-align: center;
    font-weight: lighter;
  }
.options{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    cursor: pointer;
    flex-direction: row;
    border-radius: 60px;
}
.options>p{
    cursor: pointer;
    padding: 7px 10px;
    border-radius: 25px;
    margin-top: 4px;
}
.options>p:hover{
    text-decoration: underline; 
    background-color: rgb(231, 230, 230);
    transition: all 0.2s;
}
.categ-option{
    display: flex;
    justify-content:center;
    margin: 10px;
    margin-top: 50px;
    flex-wrap: wrap;
    gap: 3px;

}
 .categ-option img{
     width: 150px;
    height: 150px;
     margin: 10px;  
    align-items:center ;
    border-radius: 100px;
}

.box{
    height: 140px;
    width: 120px;
    display: flex;
   flex-direction: column;
    align-items: center;
   justify-content: center;
   padding: 5px;
   margin: 10px;
   cursor: pointer;
}

.box-text{
    margin-top: 13px;
    font-size: small;
}

.shopbycateg{
    /* margin-top: 60px; */
    max-width: 900px;
  margin: 10px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
}
.shopmore{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
   padding: 10px;
   flex-wrap: wrap;
}
.box1{
    height: 250px;
    width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    cursor: pointer;
}
.box3{
    height: 250px;
    width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    cursor: pointer;
}

.box1,img{
       width: 180px;
       height: 280px;
       margin: 12px;
       padding: 0%;
       border-radius: 40px;

}
.box3,img{
    width: 180px;
    height: 250px;
    margin: 12px;
    padding: 0%;
    border-radius: 20px;

}

/* .categ-option,h1{
    text-align: center;
    text-transform: capitalize;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} */

.categ-option>.box:hover{
    transform: scale(1.06);
    transition: 0.5s;
}
.shopbycateg>.box1:hover{
    box-shadow: 5px 5px 5px 5px rgb(215, 202, 202);
    transform: scale(1.01);
}

.shopmore>.box3:hover{
    box-shadow: 5px 5px 5px 5px rgb(215, 202, 202);
    transform: scale(1.01);
}

.reviewed{
    height: 150px;
    width: 220px;
    border: 3px ;
    position: relative;
    margin: 0px;
    z-index: 0;
    display:inline-flex;
     cursor: pointer;
     padding: 10px;

}
.r_img{
    height: 150px;
    width: 250px;
    border-radius: 12px;
}
.desc_box {
    position: absolute;
    height: 20px;
    background-color: rgb(255, 252, 252);
    color: black;
    width: 100;
    border-radius: 40px;
    bottom: 0;
    padding: 1px;
    margin: 9px;
    font-size: 15px;
  }
  .reviewed_item{
    font-weight: lighter;
    color:black;
    padding-left: 5px;
    padding-top: 5px;
  }
  .reviewed_item_1{
    text-decoration: line-through;
    color: rgb(181, 184, 45);
    
  }
  .reviewed_head{
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
  }

  .info_section{
    text-align: center;
    background-color: rgb(252, 240, 226);
    padding: 30px;
  }
  .about_parent{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .info_section>h1{
    font-weight: lighter;
  }
  .info_section>p{
    text-decoration: underline;
  }
  .about_section{
    max-width: 1200px;
    margin: 12px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    justify-content: left;
  }
  .about_section{
    text-align: left;
  }
  .about1>h1{
    text-align: left;
  }
  .about1>p{
    text-decoration: dotted;
  }
 
  .btn1{
    border-radius: 40px;
    width: 180px;
    height: 50px;
    background-color: rgb(245, 233, 219);
  }
  .btn1:hover{
     transition: 0.5s ease-in-out;
     border-color: beige;
     transform: scale(1.00s);

  }

   .email_box{
    display: grid;
    background-color: rgb(197, 224, 235);
    margin: 0px auto;
    padding: 10px;
    text-align: center;
   }
   .email_box>h4{
    font-weight: lighter;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   }
   .email_in{
    width: 35%;
    border: 1px black ;
    border-radius: 25px;
    height: 50px;
    display: flex;
    overflow: hidden;
    background-color: white;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
   }
   .email_in > input {
    margin: 10px;
    align-items: center;
    flex-grow: 1;
    border: none;
    outline: none;
    overflow: hidden;
  }

  .email_text{
    padding: 15px;
    background-color: white;
  }
  .email_text:hover{
    background-color: rgb(231, 230, 230);
    transition:  0.2s;
  }
  .about2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgb(62, 62, 223);
  }
  .about2>p {
    color: white;
    text-align: center;
  }
  .about2_logo{
    height: 40px;
    width: 40px;
    align-items: center;
    color: antiquewhite;
  }
.last_parent{
    max-width: 1500px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    display: block;
}
 .etsy_about {
        display: flex;
        flex-direction: column;
        /* max-width: 1500px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; */
        gap: 5px;
        background-color: rgb(62, 62, 122); 
        /* max-width: 1200px; 
        justify-content: left;
        gap: 10px;
        display: grid;
        grid-template-columns: 1fr ;
        justify-content: left; */
    

    } 
    .etsy_about> div{
        text-align: left;
    } 
.etsyicon{
    height: 100px;
    width: 100px;
}

.linketsy{
    width: 12%;
    font-family: sans-serif;
    border: 1px black ;
    height: 30px;
    border-radius: 25px;
    color: white;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    margin: 10px;
    overflow: hidden;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.shop_about>h6{
    font-weight: bold;
}

.shop_about{
    justify-content: right;;
    display:flex;
    flex-direction: row;
    background-color: rgb(26, 26, 212);
    color: whitesmoke;
}

/* un ordered list type */
 .shopabout{
    list-style-type: none;
    text-transform: capitalize;
    cursor: pointer;
}  
.listedit{
  letter-spacing: 2px;
  text-decoration: none;
  word-spacing: 1px;
  line-height: 1.5;
}
.shopabout>.listedit:hover{
  text-decoration: underline; 
}

.lastadd_container {
  display: flex;
justify-content: space-between;
  background-color: black;
   
}

.lastadd1 {
  display: flex;
  flex-direction: row;
  justify-content: left;
  background-color: black;
  color: white;
 margin: 12px;
 padding: 12px;
}

.lastadd2 {
  display: flex;
  flex-direction: row; 
  background-color: black;
  color: white;
  margin: 12px;
  padding: 12px;
}

.lastadd2  p {
  text-decoration: underline;
  justify-content: space-between;
  
}






  @media (max-width: 900px) {
    .options {
     display: none;
    }
    .categ-option {
      flex-wrap: wrap;
    }
    .box {
      width: 100%;
    }
    .reviewed {
      flex-direction: column;
    }
    .shopbycateg {
      grid-template-columns: 1fr 1fr;
    }
    .box1 {
      width: 100%;
    }
    .shopmore {
      flex-wrap: wrap;
    }
    .box3 {
      width: 100%;
    }
    .last-box-parent {
      flex-wrap: wrap;
    }
    .last-box-child1 {
      width: 100%;
    }
    .nav{
        width:  0px auto;
  }
  .options_search {
    display: flex;
  }
  .top {
    justify-content: space-between;
  }

  .top > .category_container {
    display: none;
  }
  .top > .search_container {
    display: none;
  }
  .about_parent{
    grid-template-columns: 1fr;
}
  }

@media (max-width: 800px) {
  .options {
    display: none;
  }
  .categ-option {
    flex-wrap: wrap;
  }
  .box {
    width: 100%;
  }
  .reviewed {
    flex-direction: column;
  }
  .shopbycateg {
    grid-template-columns: 1fr 1fr;
  }
  .box1 {
    width: 100%;
  }
  .shopmore {
    flex-wrap: wrap;
  }
  .box3 {
    width: 100%;
  }
  .last-box-parent {
    flex-wrap: wrap;
  }
  .last-box-child1 {
    width: 100%;
  }
  .nav {
    width: 0px auto;
  }
  .options_search {
    display: flex;
  }
  .top {
    justify-content: space-between;
  }
  .top > .category_container {
    display: none;
  }
  .top > .search_container {
    display: none;
  }
  .about_parent {
    grid-template-columns: 1fr;
  }
  @media(max-width: 600px) {
    body {
      font-size: 14px;
    }
    nav {
      flex-direction: column;
    }
    .box,
    .box1,
    .box3 {
      width: 100%;
    }
    .shopbycateg,
    .shopmore {
      display: flex;
      flex-wrap: wrap;
    }
    .box1,
    .box3 {
      width: 50%;
    }
    @media (orientation: portrait) {
      .box1,
      .box3 {
        width: 100%;
      }
    }
  }
}
  